.ce-modal {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: lightblue;
  position: fixed;
  z-index: 999;
}

.ce-modal-header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 5px;
  background-color: lightgreen;
}

.ce-modal-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px;
}

.speaker {
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  background: currentColor;
  background-clip: content-box;
  width: 1em;
  height: 1em;
  border: 0.333em solid transparent;
  border-right-color: currentColor;
  position: relative;
  left: -0.337em;
}

.speaker.-on:before,
.speaker.-on:after {
  content: "";
  background: currentColor;
  width: 0.1em;
  position: absolute;
}
.speaker.-on:before {
  height: 0.333em;
  right: -0.533em;
}
.speaker.-on:after {
  height: 0.667em;
  right: -0.733em;
  top: -50%;
}
.speaker.-off:before,
.speaker.-off:after {
  content: "";
  background: currentColor;
  width: 0.1em;
  position: absolute;
  height: 1.2em;
  margin-top: -0.333em;
  top: -0.1em;
  left: 0.1em;
  transform: translateX(0.333em) rotate(-45deg);
}
.speaker.-off:before {
  background: #04233d;
  left: 0.2em;
}
